.signup {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 20px;
    margin: 20px 430px;
}

.signup-logo {
    font-size: 42px;
}

.signup-button {
    background-color: #003296;
    color: black;
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: inherit;
    font-family: inherit;
}

.signup-button:hover {
    background-color: black;
    color: #fff;
}

#left {
	text-align: left;
}

#right {
	text-align: right;
}
